body {
  background: white;
  font-family: serif;
}
main {
  background: white;
  padding: 25px 50px;
  margin: 2rem auto;
}

h1.title {
  font-size: 64px;
  text-align: center;
  color: black;
  font-family: serif;
}
h1.date {
  font-size: 37px;
  text-align: center;
  color: black;
  font-family: serif;
}
.new-page {
  page-break-before: always;
}
h2.header {
  font-size: 33px;
  text-align: center;
  color: black;
  font-family: serif;
  text-decoration: underline;
}
p {
  font-size: 15px;
  text-align: left;
  color: black;
  font-family: serif;
}
p.contents {
  font-size: 15px;
  text-align: center;
  color: black;
  font-family: serif;
}
img.title {
    position: absolute;
    top:0;
    left:0;
    bottom:0;
    right:0;
    text-align: center;
}
* {
  box-sizing: border-box;
}
.row {
  display: flex;
}
.column {
  flex: 50%;
  padding: 5px;
}
table, th, td {
  border: 1px solid;
  border-collapse: collapse;
  width: 100%;
  font-size: 15px;
  background-color: #dcdedd;
  margin-top:15px;
  text-align: center;
 }
th, td {
  padding: 8px;
  text-align: center;
  max-width: 200px;
  border-bottom: 1px solid #011022;
}
th{
  background-color: #62929b;
  color: black;
}
.center {
  margin-left: auto;
  margin-right: auto;
}
h3.subtitle{
  font-size: 20px;
  text-align: center;
  color: black;
  font-family: serif;
  text-decoration: underline;
}
.footer {
    position: absolute;
    bottom: 0;
    left: 0;
    z-index: 10;
    display: "./bandcamp_logo.jpeg";
}
